body {
    background:#A6BF8E;
    font-family: Arial, Helvetica, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment{
    width:22%;
    padding:10px;
    margin:10px;
    padding:20px 10px;
    background:#D9D9D9;
    border-radius:5px;
}

.assignment img {
    width:200px;
    margin:10px;
    border:2px solid #3E5923;
    display:block;
    margin:auto;
}

.asignment img:hover {
    border:2px solid #F2F2F2;
}

h1 {
    color: #3E5923;
    text-align: center;
}

h2 {
    text-align:center;
}

a {
    text-decoration:none;
    color:#7FA646;
}

a:hover {
    color: #F2F2F2;

}